
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
          <form>
            <div class="form-group">
                <label>RIS</label>
                <textarea class="form-control" ng-model="text.selected" placeholder="Copy your RIS file here"></textarea>
            </div>
          </form>
        </div>

        <div class="col-sm-6">
          <form>
            <div class="form-group">
                <label>Search strategy</label>
                <input class="form-control" ng-model="draftString.selected" placeholder="Enter your search strategy">
            </div>
            <button type="submit" class="btn btn-default" ng-click="start()">Start</button>
          </form> 
        </div>
    </div>
</div>

