
<div class="container-fluid">
  <tr>
    <td>Select a File to Load:</td>
    <div uploader></div>
    <!--td><input type="file" id="fileToLoad"></td>
    <td><button onclick="loadFileAsText()">Load Selected File</button><td-->
</tr>
    <div class="row">
        <div class="col-sm-6">
          <form>
            <div class="form-group">
                <label>RIS</label>
                <!-- {{text}} -->
                <textarea id="textA" class="form-control" ng-model="text.selected" style="height:600px" placeholder="Copy your RIS file here"></textarea>
            </div>
          </form>
        </div>

        <div class="col-sm-6">
          <form>
            <div class="form-group">
                <label>Search strategy</label>
                <input class="form-control" ng-model="textareaText.selected" placeholder="Enter your search strategy">
            </div>
            <button type="submit" class="btn btn-default" ng-click="start()">Start</button>
          </form>
        </div>
    </div>
</div>
