<!doctype html>
<html ng-app="search-strategy">
<head>
  <meta charset="utf-8">
  <title>Angular Bootstrap Demo</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  <script type="text/javascript">
    var app = angular.module('search-strategy', []);
    app.controller('relevant', function($scope, $locale, $location, $http, $filter, $interval) {
      $scope.draftString = '<Show initial draft string here>';
      $scope.suggested = [{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      },{
        keyWord: 'word1',
        score: 0.5, // optional
        hits: 14810, //optional
      }];

      setTimeout(
        function(){
          $scope.suggested[5].keyWord = "key 1244";
          $scope.$apply();
        },
        5000
      );
      $scope.hits = [{
        query: '<Show initial draft string here>',
        pubmed: 10000,
        db2: 329131,
        db3:49019
      },
      {
        query: '<Show query string here>',
        pubmed: 10000,
        db2: 329131,
        db3:49019
      },
      {
        query: '<Show query string here>',
        pubmed: 10000,
        db2: 329131,
        db3:49019
      }];
      $scope.used = [];
    });
  </script>

</head>
<body ng-controller="relevant">
  <div style = "margin:22px">
    <div class="table-responsive col-md-4" style="max-height: 600px;">
      <table width="100%" class="table table-bordered">
       <thead class="bg-primary">
        <tr>
         <th ng-repeat="(header, value) in suggested[0]">{{header}}</th>
        </tr>
       </thead>
       <tbody>
        <tr ng-repeat="row in suggested | filter:searchText">
         <td ng-repeat="cell in row">{{cell}}</td>
        </tr>
       </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <textarea rows="8" style="width:100%;">
      {{draftString}}
      </textarea>
      <table width="100%" class="table table-bordered">
       <thead class="bg-primary">
        <tr>
         <th ng-repeat="(header, value) in hits[0]">{{header}}</th>
        </tr>
       </thead>
       <tbody>
        <tr ng-repeat="row in hits | filter:searchText">
         <td ng-repeat="cell in row">{{cell}}</td>
        </tr>
       </tbody>
      </table>
    </div>
  </div>
</body>
</html>
